@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    a.external:after {
        box-sizing: border-box;
        border: none;
        background: url('data:image/svg+xml;utf8,<svg color="%23464646" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>') no-repeat;
        background-size: cover;
        content: "";
        margin: 0;
        display: inline-block;
        height: 0.875em;
        width: 0.875em;
    }
}